/* Common css style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header start  */

.header_section {
  background: #f0fff0;
  width: 100%;
  height: 576px;
}
/* Nav start  */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 198.07px;
  height: 59px;
}

.nav_title > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav_title > ul > li > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

.btn {
  background: #21b573;
  color: white;
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  border-radius: 20px;
}
/* Nav end  */

.header_body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 2rem 0 0;
}
.header_content {
  width: 400px;
  padding-right: 3rem;
}
.header_para {
  color: #fd511a;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}
.header_title > span {
  color: #21b573;
}

.header_main_para {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #6c6b6b;
  padding: 2rem 0;
}

.header_poster {
  width: 554px;
  height: 346px;
}
/* Header end  */

/* Courses section start */

.courses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  margin: 5rem 1rem 0 0;
}

.course_body {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_icon {
  width: auto;
  height: 76px;
}

.course_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 1rem;
  color: #413960;
}

.course_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

#course_icon_shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* Courses section end */

/* Online courses starts here  */
.online_courses {
  margin-top: 5rem;
  text-align: center;
}
.online_course_cards {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 1.5rem;
}

.online_course_card {
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1rem;
}
.online_course_title {
  color: #413960;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
.card_img {
  width: 331px;
  height: 234px;
}
.card_title {
  color: #413960;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.card_para {
  color: #585859;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#card_btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  padding: 8px 20px;
}
.card_descrip{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Online courses ends here  */

/* testimonial starts here  */
.testimonial{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.testimonial_title{
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
.testimonial_body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.testimonial_img{
  width: 120px;
}
.testimonial_description{
  width: 580px;
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* testimonial ends here  */

/* footer stars here  */

.footer{
  margin-top: 5rem;
  padding: 3rem 0 1.5rem 0;
  background: #282531;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_content{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.footer_content_left{
  flex: 2;
  line-height: 30px;
}
.footer_content_right{
  flex: 1;
  line-height: 30px;
  cursor: pointer;
}
h5{
 color: #a1a1a1;
}
.footer_descript{
  margin-top: 3rem;
  color: #929292;
}
/* footer stars here  */